h1{border: 0.5vh solid black;
    padding: 1em;
    background-color:rgb(90, 90, 28)
    

}
body{
    background-color: rgb(21, 105, 114);
    color: rgb(127, 69, 36)
    
    
    


}
nav{padding: 1em;
    border: 0.5vh solid green;
    background-color: rgb(135, 175, 175);
    color: azure;
    width: 50%;
}
p{font-size: 1.2em;
    font-family:Georgia, 'Times New Roman', Times, serif

}

Ul { color: blueviolet;}
h1, article { color: blue;}


nav a{ color: bisque;}
main > p a {color: rgb(136, 91, 25); }
img{
    background-color: rgb(135, 175, 175);
    padding: 4em;
    width: 10em;
    border: 0.5vh solid green;
    border-radius: 3em;
    background-color: black;
}



.randje {
    border: 1.5em;
    border-radius: 5em;
    background-color: blueviolet;
}
* { box-sizing: border-box;width: 50vw;
padding: 2em;}